﻿@using Veb_portal.Models
@model Veb_portal.Models.Auction


<br/>
<h2>Make a bid:</h2>
<br/>
<br/>
<div>
    <div class=" form-group form-group-v2">
        <div class="control-label mb-1 mr-5">Token number:</div>
        <input type="text" id="offer" runat="server" class="form-control" />
        <p id="bidErrorMessage" class="text-danger"></p>
    </div>

    <div style="display: flex;  align-items: center">
        <p class="mr-3">Minimal token number for bid:</p> <p id="minBidVal"></p>
    </div>
    <div class="form-group">
        @if (Model.State != Auction.COMPLETED)
        {
            <input type="button" id="bidButton" class="btn btn-info btn-form" value="Make a bid" />
        }
        else
        {
            <input type="button" id="bidButton"  class="btn btn-info btn-form btnDisable" value="Make a bid" />
        }
    </div>
</div>





