﻿@using Veb_portal.Models.PartialClasses
@model IEnumerable<Veb_portal.Models.Bid>
<style>
    #bidsListContent {
        height: 300px;
        width: 100%;
        border: 2px solid #b8860b;
        border-radius: 5px;
        overflow-x: scroll;
    }
    .bidCol {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .tableBid {
        width: 100%;
    }

    .tableBid th{
        font-weight: 400;
    }

    .tableHeader {
        width: 100%;
        border: none;
    }
    
    .tokenNumCol {
        width: 30%;
    }
</style>

<div id="bidListDiv">
    <div><h2>List of bids</h2></div>
    <br/>
    <table class="table tableHeader">
        <tr>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th class="tokenNumCol">
                @Html.DisplayName("Token number")
            </th>
        </tr>
           
    </table>
    <div id="bidsListContent">
        <table class="tableBid table table-striped " id="bidsTableList">
            @foreach (var bid in Model)
            {
                <tr>
                    <th>
                        @UserOperations.GetUsernameById(bid.UserId)
                    </th>
                    <th class="tokenNumCol">
                        @Html.DisplayFor(model => bid.TokenNumber)
                    </th>
                </tr>
            }
        </table >
    </div>
</div>


