﻿@model Veb_portal.Models.IndexViewModel
@{
    ViewBag.Title = "Your account informations";
}

<h2>@ViewBag.Title</h2>
<br/>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>

<div>
    <h4>Change your profile informations:</h4>
    <br />
    <hr />
    
    
    <div>
        <div class="form-group form-group-v2">
            <div class="col-md-2 control-label"><b>Password:</b></div>
            <div class="col-md-10 control-label">
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </div>
        </div>
    </div>
    <br/>

    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new{ runat = "server" }))
    {
        @Html.AntiForgeryToken()
        if (!User.IsInRole("Admin"))
        {
            <div class="form-group form-group-v2">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", runat = "server" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-group-v2">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", runat = "server" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group form-group-v2">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", runat = "server" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        if (!User.IsInRole("Admin"))
        {
            <div class="form-group form-group-v2">
                @Html.LabelFor(m => m.TokenNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-6" style="display: flex; justify-content: space-between; align-items: center;">
                    @Html.TextBoxFor(m => m.TokenNumber, new { @class = "form-control", runat = "server", style = "box-shadow:none; background-color:transparent", @readonly = "true" })
                    @Html.ActionLink("Buy more tokens", "Create", "TokenOrders")
                </div>
            </div>
        }
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" runat="server" class="btn btn-form btn-search" />
        </div>

    }
    
    <br/>
    <br/>
    <div>
        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
        {
            @Html.ActionLink("See all token orders", "Index", "TokenOrders")
        }

        @if (User.IsInRole("Admin"))
        {
            if (Model.ReadyAuctionsCount > 0)
            {
                @Html.ActionLink("Number of ready auctions: " + Model.ReadyAuctionsCount, "AuctionRequests", "Auctions")
            }
            else
            {
                <p>Number of ready auctions: 0</p>
            }
        }
    </div>
    <br />
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Change system values", "Index", "DefaultSystemValues")
    }
</div>



</div>



