﻿
input[type="checkbox"]{
    width: 18px; /*Desired width*/
    height: 18px; /*Desired height*/
}


.btnDisable {
    color: grey;
    opacity: 0.8;
    pointer-events: none;
}


.productTimer {
    position: absolute;
    z-index: -1;
    color: transparent;
    display: none;
}

.form-control {
    font-size: 1.7rem;
    height: calc(2.25rem + 10px);
}

input, select, textarea {
    max-width: 300px;
}

.logo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    max-height: 60px;
    max-width: 150px;
}


.btn-search {
    background-color: #337ab7;
    color: white;
}


.btn-form {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.form-group-v2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.auctionItemBorder {
    border: 2px solid #bbbbbb;
    background-color: #e4e4e4;
    border-radius: 8px;
    padding: 10px;
    max-width: 220px;
}


.auctionListTable th, td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auctionListTable img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#listAuctions {
    display: flex;
    align-items: center;
}


#productPic {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

