﻿@model Veb_portal.Models.ModelViews.DefaultSystemValuesIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #defSysTable {
        width: 100%;
        height: 100%;
    }
</style>


<h2>List of system values:</h2>

<div>
    <p>
        @Html.ActionLink("Create new value", "Create")
    </p>
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayName("Name")
        </div>
        <div class="col-sm-2">
            @Html.DisplayName("Value")
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div>
        <hr class="col-sm-6" />
    </div>
    <br />
    @foreach (var item in Model.DefValues)
    {
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Value)
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>
    }


    <br />
    <br/>
    <br/>
    <h2>Packages:</h2>
    <p>
        @Html.ActionLink("Create new package", "Create", "Packages")
    </p>
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayName("Name")
        </div>
        <div class="col-sm-2">
            @Html.DisplayName("Value")
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div>
        <hr class="col-sm-6" />
    </div>
    <br/>
    @foreach (var item in Model.Packages)
    {
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-sm-2">
                @Html.DisplayFor(modelItem => item.TokenNumber)
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("Edit", "Edit", "Packages", new { id = item.Id }, null) 
            </div>
        </div>
    }

</div>
