﻿@{
    ViewBag.Title = "Home Page";
}
@section homePage
{
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="color: black">Welcome to Bid1st!</div>
                <div class="intro-heading text-uppercase" style="color: black">Join us to bid online</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="@Url.Action("Register", "Account")">Register now</a>
            </div>
        </div>
    </header> 
}
