﻿@model Veb_portal.Models.TokenOrder
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to proced with order?</h2>
<br />
<br />
<div class="row">
    <div class="col-sm-3">
        <a id="c-mobile-payment-widget"  href="@Url.Action("ConfirmOrder", "TokenOrders", new{ Id=Model.Id, Price = Model.Price, TokenNumber = Model.TokenNumber, PackageId = Model.PackageId})">
            <img src="https://www.centili.com/images/centili-widget-button.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-search btn-form" href="@Url.Action("Index", "TokenOrders")">Cancel order</a>
    </div>

</div>



