﻿@using Veb_portal.Models
@model Veb_portal.Models.ModelViews.TokenOrderModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make new order</h2>
<br />
<hr />
@using (Html.BeginForm("PassOrder", "TokenOrders", FormMethod.Post, new { id = "formId", runat = "server" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group form-group-v2">
            @{
                var listItems = new List<SelectListItem>();
                foreach (var package in Model.Packages)
                {
                    var text = package.Name + " - " + package.TokenNumber + " tokens";
                    listItems.Add(new SelectListItem
                    {
                        Text = text,
                        Value = package.Id.ToString("D")
                    });
                }
            }
            <div class="control-label col-sm-3">
                Auction state:
            </div>
            @Html.DropDownList("PackageChoice", listItems, "Select package...", new {@class = "form-control", style = "max-width: 150px;", runat="server", id="packStateId"})
            <div id="packStateError" class="ml-4 text-danger"></div>
        </div>
        
        <div class="form-group form-group-v2">
            <div class="control-label col-sm-3">
                Number of packages to order:
            </div><input type="text" id="tokenId" name="TokenNumber" runat="server" class="form-control" style="max-width: 150px;" />
            <div id="tokenIdError" class="ml-4 text-danger"></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" runat="server" class="btn btn-form btn-search" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#formId").submit(function (e) {
                var error = false;
                var tokens = $("#tokenId").val();
                if (tokens <= 0) {
                    $("#tokenIdError").text("Number of packages must be positive number.");
                    error = true;
                } else
                    $("#tokenIdError").text("");

                var packages = $("#packStateId").val();

                if (packages == "") {
                    $("#packStateError").text("You must choose one package.");
                    error = true;
                } else
                    $("#packStateError").text("");

                if (error === true) {
                    e.preventDefault();
                }
            });
        });
    </script>

}
