﻿@using PagedList.Mvc
@using Veb_portal.Controllers.VPControllers
@model PagedList.IPagedList<Veb_portal.Models.TokenOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .orderRow th {
        font-weight: 400;
    }
</style>
<h2>Token orders</h2>
<br/>

<p>@ViewBag.OrderMessage</p>

<p>
    @Html.ActionLink("Make new order", "Create")
</p>
<div style="min-height: 450px">
    <table class="table mb-lg-5">
        <tr>
            <th>
                @Html.DisplayName("Package name")
            </th>
            <th>
                @Html.DisplayName("Order price")
            </th>
            <th>
                @Html.DisplayName("Order state")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="orderRow">
                <th>
                    @Html.DisplayFor(modelItem => item.Package.Name)
                </th>
                <th>
                    @(Html.DisplayFor(modelItem => item.Price) + " EUR")
                </th>
                <th>
                    @Html.DisplayName(TokenOrdersController.StateToString(item.State))
                </th>
                <th>
                    @Html.DisplayName(item.CreatedAt.Value.ToString("yyyy MMMM dd"))
                </th>
            </tr>
        }

    </table>
</div>
Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @(Model.PageCount == 0 ? 1 : Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

<br/>
@Html.ActionLink("Back to account informations","Index", "Manage", null, new{ style = "font-size: 130%; color:grey;" })