﻿@model Veb_portal.Models.RegisterViewModel
@{
    ViewBag.Title = "Create new account and start to bid";
}

<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <br />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <br />
    <div class="form-group form-group-v2">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", runat = "server" })
            @*Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group form-group-v2">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", runat = "server" })
            @*@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="form-group form-group-v2">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", runat = "server" })
            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group form-group-v2">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", runat = "server" })
            @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
        </div>
        </div>
        <div class="form-group form-group-v2">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", runat = "server" })
                @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
            </div>
    </div>
    <br />
    <div class="form-group form-group-v2">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" runat="server" class="btn btn-primary btn-form btn-lg" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}