﻿@using System.Collections.Specialized
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("links", required: false)
    
    <!-- Bootstrap core CSS -->
    <link href="~/Content/template/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/template/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/template/agency.min.css" rel="stylesheet">
    <link href="~/Content/ViewCss/additionalCss.css" rel="stylesheet" type="text/css">
</head>
<body id="page-top" style="font-size: 1.5rem;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: grey; padding-top: 10px; padding-bottom: 10px;">
        <div class="container">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/img/logo.jpg" class="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Auctions")">Auctions</a>
                </li>
                @Html.Partial("_LoginPartial");
            </ul>
        </div>
        </div>
    </nav>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("homePage", required: false)

<div class="container body-content" style="margin-top: 50px; overflow-x: auto">
    @if (IsSectionDefined("homePage"))
    {
        @RenderBody()
    }
    else
    {
        <div style="min-height: 750px;" >
            @RenderBody()
        </div>
    }
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Aleksandra Pajic<i> Odsek za Softversko inzenjerstvo Elektrotehnickog fakulteta Univerziteta u Beogradu</i></p>
    </footer>
</div>


    
    

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/template/jquery.min.js"></script>
    <script src="~/Content/template/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/template/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="~/Content/template/jqBootstrapValidation.js"></script>
    <script src="~/Content/template/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/template/agency.min.js"></script>

    @RenderSection("scripts", required: false)

    @if (Request.IsAuthenticated)
    {
        <script>
           /* $("#dd").hover(
                function() {
                    $("#ddList").css('display', 'block');
                },
                function() {
                    $("#ddList").css('display', 'none');
                }
            );*/
        </script>
    }
</body>
</html>











@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("links", required: false)

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Auctions", "Index", "Auctions")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@

