﻿@using Microsoft.AspNet.Identity

@if (User.Identity.IsAuthenticated)
{
    <style>
        .dropbtn {
            background-color: transparent;
            color: #fed136;
            padding: 16px;
            font-size: 16px;
            margin-top: -2.15px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: right;
        }

        .dropdown-content a:hover {background-color: #ddd;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color: #696969;}
        
    </style> 
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <div class="dropdown">
                <button disabled class="dropbtn">@("Hello " + User.Identity.GetUserName() + "!")</button>
                <div class="dropdown-content">
                    @Html.ActionLink("Profile info", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </div>

        }
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class= "", id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "", id = "loginLink" })</li>
    </ul>
}
