﻿@using PagedList.Mvc
@model Veb_portal.Models.ModelViews.SearchAuctionModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div>
    <h1>List of auction requests</h1>
</div>

<br />




<div>
    <div>
        <h3>Kriterijum pretrage</h3>
    </div>
    <div>
        @using (Html.BeginForm("AuctionRequests", "Auctions", FormMethod.Post, new { id = "searchForm" , runat="server"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group form-group-v2">
                <div class="control-label col-xs-3">Find by product name:</div> @Html.TextBoxFor(m => Model.NameFilter, new { @class = "form-control", runat = "server" })
            </div>
            <div class="form-group form-group-v2">
                <div class="control-label col-sm-3">
                    Min value:
                </div>@Html.TextBoxFor(m => Model.MinValueFilter, new { @class = "form-control", runat = "server", id = "minVal", style = "max-width: 150px;" })
            </div>
            <div class="form-group form-group-v2">
                <div class="control-label col-sm-3">
                    Max value:
                </div>@Html.TextBoxFor(m => Model.MaxValueFilter, new { @class = "form-control", runat = "server", id = "maxVal", style = "max-width: 150px;" })
                <p id="MinMaxErrorMessage" class="text-danger"></p>
            </div>
            <div class="form-group form-group-v2 ml-lg-4">
                <input type="submit" runat="server" value="Search" class="btn-search btn-form " />
            </div>
        }
    </div>
</div>
<br />

<div class="container">
    <style>.row:before .row:after{content: none;}</style>
    <div class="row" id="listAuctions" style="min-height: 200px;">
        @foreach (var item in Model.PaginationResultList)
        {
            <div class="col-sm-3">
                <div class="auctionItemBorder">
                    <table class="auctionListTable" style="margin: 15px;">
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="@Url.Action("Details", new {id = item.Id, auctionRequests = true, page = Model.PaginationResultList.PageNumber})">
                                    <img src="@Url.Content(item.ProductPicture)" alt="productPicture" width="200" height="200"/>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @item.GetLeftAuctionTime()
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @(item.CurrentPrice + " " + item.Currency)
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @*<input type="button" class = "btn btn-form btn-primary mb-2" value="Open auction" onclick="@("createAuction("+Model.PaginationResultList.PageNumber+",\""+item.Id+"\","+  (Model.SearchActive == false? 0: 1)+","+Model.NameFilter+"\"*\","+ Model.MinValueFilter+","+Model.MaxValueFilter+")")" />*@
                                @Html.ActionLink("Open auction", "OpenAuction", "Auctions", new { page = Model.PaginationResultList.PageNumber, aucId = item.Id, Model.SearchActive, Model.NameFilter, Model.MinValueFilter, Model.MaxValueFilter }, new { @class = "btn btn-form btn-primary mb-2" })

                                <br />
                            </th>
                        </tr>
                        
                        <tr>
                            <th>
                                
                                @Html.ActionLink("Delete auction", "DeleteAuction", "Auctions", new {page = Model.PaginationResultList.PageNumber, aucId = item.Id, Model.SearchActive, Model.NameFilter, Model.MinValueFilter, Model.MaxValueFilter}, new {@class = "btn btn-form btn-search"})
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>



    <br />
    Page @(Model.PaginationResultList.PageCount < Model.PaginationResultList.PageNumber ? 1 : Model.PaginationResultList.PageNumber) of @(Model.PaginationResultList.PageCount == 0 ? 1 : Model.PaginationResultList.PageCount)

    @if (Model.SearchActive)
    {
        @Html.PagedListPager(Model.PaginationResultList,
            page => Url.Action("AuctionRequests", new
            {
                page = page ,
                Model.MaxValueFilter,
                Model.MinValueFilter,
                Model.NameFilter,
                Model.SearchActive
            }))
    }
    else
    {
        @Html.PagedListPager(Model.PaginationResultList, page => Url.Action("AuctionRequests", new { page = page }))
    }










    @section scripts
{

        <script>
            $("#searchForm").submit(function (event) {
                var min = $("#minVal").val();
                var max = $("#maxVal").val();
                min = min.parseFloat();
                max = max.parseFloat();
                if ((min != 0) && (max != 0)) {
                    if (min > max) {

                        $("#MinMaxErrorMessage").text("Min value can't be greater than max value.");
                        event.preventDefault();
                    } else
                        event.submit();
                }

            });


        /*    function createAuction(page, aucId, searchActive, nameFil, minFil, maxFil){
            var today = new Date();
                $.ajax({
                    url: "/Auctions/OpenAuction",
                    method: 'GET',
                    data: {
                        openedAt: today.getTime(),
                        page: page,
                        id: aucId,
                        searchActive: searchActive,
                        nameFilter: nameFil.substring(0, nameFil.length - 1),
                        minValueFilter: minFil,
                        maxValueFilter: maxFil
                    }   
                });
            }*/

        </script>

    }







