﻿@model Veb_portal.Models.Auction

@{
    ViewBag.Title = "CreateAuction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create auction</h2>
<br/>

@using (Html.BeginForm("Create", "Auctions", FormMethod.Post, new {  enctype = "multipart/form-data" , id = "createAuctionForm", runat="server"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartPrice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductPicture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FileImage, new { type = "file", id="fileUpload", required="true"})
                <div id="imageUploadError" class="text-danger"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id ="createBtn" class="btn btn-form btn-search" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $("#createAuctionForm").submit(function(e) {
            if (document.getElementById("fileUpload").files.length == 0) {
                $("#imageUploadError").html("Product picture is required.");
                e.preventDefault();
            } else {
                $("#imageUploadError").html("");
            }
        });

     /*   $("#createBtn").on("click", function() {
            var today = new Date();
            $.ajax({
                url: "/Auctions/OpenAuction",
                method:'POST',
                data: {
                    openedAt: today.getTime(),
                    offer: offer,
                    auctionId: auctionId
                }
                
            });
        });*/

    </script>

}
