﻿@using Veb_portal.Models
@model Veb_portal.Models.ModelViews.DetailsAuctionModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br/>
<div class="row">
    <div class="col-xs-6">
        <h2>Product details</h2>
        <br/>
        <div class="col-10">
            <hr/>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Auction.ProductName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Auction.ProductName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Auction.ProductPicture):
            </dt>

            <dd>
                <img id ="productPic" src="@Url.Content(Model.Auction.ProductPicture)" alt="productPicture" width="200" height="200" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Auction.Duration):
            </dt>

            <dd>
                <div id="productTimer" style="visibility: hidden; display: none;">@Model.Auction.OpenedAt*@Model.Auction.Duration*@Model.Auction.State*@Model.Auction.Id</div>
                <div id="@Model.Auction.Id"></div>
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Auction.CurrentPrice):
            </dt>

            <dd id="currentPrice">
                @(Model.Auction.CurrentPrice + " " + Model.Auction.Currency)
            </dd>

            <dd>
                @if (User.IsInRole("Admin") || Model.Auction.State == Auction.COMPLETED)
                {
                    <a href="#" class="btn btn-primary btn-form btnDisable">Bid now</a>
                }
                else  //dodatati da kada se klikne na dugme na trenutak poplavi forma za slanje ponude
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" class="btn btn-primary btn-form">Bid now</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-form">Bid now</a>
                    }
                }
            </dd>
        </dl>
        <div>
            @if (Model.AuctionRequests)
            {
                @Html.ActionLink("Back to List", "AuctionRequests", new { page = Model.PageToReturn })
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", new { page = Model.PageToReturn })
            }
        </div>
    </div>
    <div class="col-xs-6">
        @Html.Partial(Url.Content("~/Views/Bids/BidsList.cshtml"), Model.ListOfBids)
    </div>
</div>


@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
{
    <br/>
    <hr/>
    <div>
        @Html.Partial(Url.Content("~/Views/Bids/BidForm.cshtml"), Model.Auction)
    </div>
}











@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/js"></script>

    <script>
        var myHub = $.connection.hub.start();
        var auctionId = @Html.Raw(Json.Encode(Model.Auction.Id));

        $.connection.hub.disconnected(function () {

            setTimeout(function () {
                myHub = $.connection.hub.start();
            }, 5000);
        });
        function alertAboutClosed(id) {
            console.log(id);
            if(auctionId == id)
                alert("Auction has ended!"); //moze i neki drugi pop up prozor
        }

        $.connection.myHub.client.alertAboutClosed = alertAboutClosed;
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/SettingProductTimer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/AuctionDetailsScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/BidFormScript.js")"></script>
}
