﻿@using PagedList.Mvc
@using Veb_portal.Models
@model Veb_portal.Models.ModelViews.SearchAuctionModel

@section links
{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}


@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div>
    <h1>List of auctions</h1>
</div>
@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Create new auction", "Create", "Auctions")
    </div>
}

<br />




<div>
    <h3 class="ml-4">Filter list:</h3>
    <div class="col-sm-7">
        <hr/>
    </div>
    <br/>
    <div>
        @using (Html.BeginForm("Index", "Auctions", FormMethod.Post, new {id = "searchForm", runat = "server" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group form-group-v2">
                <div class="control-label col-xs-3">Find by product name:</div> @Html.TextBoxFor(m => Model.NameFilter, new {@class = "form-control", runat = "server" })
            </div>
            <div class="form-group form-group-v2">
                <div class="control-label col-sm-3">
                    Min value:
                </div>@Html.TextBoxFor(m => Model.MinValueFilter, new {@class = "form-control", runat = "server", id = "minVal", style = "max-width: 150px;"})
            </div>
            <div class="form-group form-group-v2">
                <div class="control-label col-sm-3">
                    Max value:
                </div>@Html.TextBoxFor(m => Model.MaxValueFilter, new {@class = "form-control", runat = "server", id = "maxVal", style = "max-width: 150px;"})
                <p id="MinMaxErrorMessage" class="text-danger"></p>
            </div>
            <div class="form-group form-group-v2">
                @{
                    var listItems = new List<SelectListItem>
                    {
                        new SelectListItem
                        {
                            Text = "Opened",
                            Value = "2"
                        },
                        new SelectListItem
                        {
                            Text = "Ended",
                            Value = "3",
                        }
                    };
                }
                <div class="control-label col-sm-3">
                    Auction state:
                </div>
                @Html.DropDownListFor(m => Model.StateFilter, listItems, "Select state...", new {@class = "form-control", runat = "server", style = "max-width: 150px;"})
            </div>
            if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                <div class="form-group form-group-v2">
                    <div class="control-label col-sm-3">
                        Only winned auctions:
                    </div>
                    @Html.CheckBoxFor(m => m.WinnedAuctions)
                </div>
            }
            <div class="form-group form-group-v2 ml-lg-4">
                <input type="submit" runat="server" value="Search" class="btn-search btn-form "/>
            </div>
        }
    </div>
</div>
<br />

<hr/>
<div class="container">
    <style>.row:before .row:after{content: none;}</style>
    <div class="row" id="listAuctions" style="min-height: 200px;">

        @foreach (var item in Model.PaginationResultList)
        {
            <div class="col-sm-3">
                <div class=" auctionItemBorder" style="margin: 15px;">
                    <table class="auctionListTable">
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="@Url.Action("Details", new {id = item.Id, page = Model.PaginationResultList.PageNumber})">
                                    <img src="@Url.Content(item.ProductPicture)" alt="productPicture" width="200" height="200" />
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="productTimer">@item.OpenedAt*@item.Duration*@item.State*@item.Id</div>
                                <div id="@item.Id"></div>
                            </th>
                        </tr>
                        <tr>
                            <th id='@("currentPrice-" + item.Id)'>
                                @(item.CurrentPrice + " " + item.Currency)
                            </th>
                        </tr>
                        <tr>
                            <th id='@("lastBid-" + item.Id)'>
                                @item.LastBidsUser()
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @if (User.IsInRole("Admin") || @item.State == Auction.COMPLETED)
                                {
                                    @Html.ActionLink("Bid now", "Details", "Auctions", new { id = item.Id, page = Model.PaginationResultList.PageNumber, makeBid = true }, new { @class = "btn btn-primary btn-form btnDisable" })
                                }
                                else
                                {
                                    @Html.ActionLink("Bid now", "Details", "Auctions", new { id = item.Id, page = Model.PaginationResultList.PageNumber, makeBid = true }, new { id = "bidButton-" + item.Id, @class = "btn btn-primary btn-form", style = "font-weight: 600;" })
                                }

                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        }

    </div>
</div>
<br />
Page @(Model.PaginationResultList.PageCount < Model.PaginationResultList.PageNumber ? 1 : Model.PaginationResultList.PageNumber) of @(Model.PaginationResultList.PageCount == 0 ? 1 : Model.PaginationResultList.PageCount)

@if (Model.SearchActive)
{
    @Html.PagedListPager(Model.PaginationResultList,
        page => Url.Action("Index", new
        {
            page = page ,
            Model.MaxValueFilter,
            Model.MinValueFilter,
            Model.NameFilter,
            Model.StateFilter,
            Model.SearchActive
        }))
}
else
{
    @Html.PagedListPager(Model.PaginationResultList, page => Url.Action("Index", new { page = page }))
}


@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/js"></script>

    <script>
        var myHub = $.connection.hub.start();

        $.connection.hub.disconnected(function () {

            setTimeout(function () {
                myHub = $.connection.hub.start();
                console.log("disconnected");
            }, 5000);
        });
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/SettingProductTimer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/AuctionsIndex.js")"></script>
}







